@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "space-grotesk";
    src: url("./assets/fonts/Space_Grotesk/Space_Grotesk/SpaceGrotesk-Regular.ttf");
    font-style: normal;
}
